{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Admin {% endblock title%}
{% block content%}
<div class="center-block w-xxl w-auto-xs p-v-md">

       <a href="" data-toggle="modal" data-target="#exampleModal"  data-whatever="@mdo"><button md-ink-ripple class="md-btn md-raised m-b btn-fw indigo">Global Post</button></a>
        <a href="" data-toggle="modal" data-target="#example"  data-whatever="@mdo"><button md-ink-ripple class="md-btn md-raised m-b btn-fw pink">Local Post</button></a>
        <a href="/doafrica/adminlist"><button md-ink-ripple class="md-btn md-raised m-b btn-fw blue">Valid project</button></a>
        <a href="/doafrica/user"><button md-ink-ripple class="md-btn md-raised m-b btn-fw red">Valid user</button></a>
        <a href="/doafrica/user"><button md-ink-ripple class="md-btn md-raised m-b btn-fw green">Create Admin</button></a>
        <a href="/doafrica/conlogout"><button md-ink-ripple class="md-btn md-raised m-b btn-fw red">logout</button></a>

</div>
    <div class="row row-sm">

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">New Project</h4>
            </div>
            <div class="modal-body">
              <form name="form" method="post" action="/doafrica/globale" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group">
                        {{ form.titre.errors }}
                        {{ form.titre.label_tag }}
                        {{ form.titre }}
                </div>
                  <div class="form-group">
                   {{ form.image.errors }}
                    {{ form.image.label_tag }}
                        {{ form.image }}
                </div>

                  <div class="form-group">
                   {{ form.message.errors }}
                        {{ form.message.label_tag }}
                        {{ form.message }}
                </div>



                <div class="modal-footer form-group">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success">Post</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
<!-- Fin classe modale message -->

    <div class="row row-sm">

      <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">New Project</h4>
            </div>
            <div class="modal-body">
              <form name="form" method="post" action="/doafrica/locale" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group">
                        {{ lo.titre.errors }}
                        {{ lo.titre.label_tag }}
                        {{ lo.titre }}
                </div>
                <div class="form-group">
                   {{ lo.photo.errors }}
                    {{ lo.photo.label_tag }}
                        {{ lo.photo }}
                </div>
                  <div class="form-group">
                   {{ lo.location.errors }}
                        {{ lo.location.label_tag }}
                        {{ lo.location }}
                </div>
                  <div class="form-group">
                   {{ lo.texte.errors }}
                        {{ lo.texte.label_tag }}
                        {{ lo.texte }}
                </div>



                <div class="modal-footer form-group">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success">Post</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
<!-- Fin classe modale message -->

    <div class="row row-sm">

      <div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">New Project</h4>
            </div>
            <div class="modal-body">
              <form name="form" method="post" action="/doafrica/adduser" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group">
                        {{ add.username.errors }}
                        {{ add.username.label_tag }}
                        {{ add.username }}
                </div>
                <div class="form-group">
                   {{ add.email.errors }}
                    {{ add.email.label_tag }}
                        {{ add.email }}
                </div>
                  <div class="form-group">
                   {{ add.password.errors }}
                        {{ add.password.label_tag }}
                        {{ add.password }}
                </div>




                <div class="modal-footer form-group">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success">Add User</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
<!-- Fin classe modale message -->

{% endblock content%}