{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Projects Lists {% endblock title%}
{% block content%}
    <div class="col-sm-6 col-sm-offset-4">
      {% for projet in projets %}<a href="projet/{{ projet.id }}">
   <div class="col-sm-8">
      <div class="panel panel-card">
           <div class="card-heading">
            <a href class="pull-left w-32 m-r">
              <img src="{{ projet.image.url }}" class="w-full img-responsive img-circle">
            </a>
            <div class="clear">
              <a href class="font-bold block">{{ projet.author }}</a>
              <div class="text-xxs font-thin text-muted">{{ projet.date_de_pub }}</div>
            </div>
          </div>
        <div class="item">
          <img src="{{ projet.image.url }}" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">

          </div>
        </div>
        <a md-ink-ripple class="md-btn md-raised md-fab brown m-r md-fab-offset pull-right"><span class="text-white">{{ projet.montant }}</span></a>
        <div class="p">
          <h3>{{ projet.titre }}</h3>
          <p>
            {{ projet.message }}
          </p>
        </div>
          <div class="m-b">
              {% if projet.valide == "oui" %}
                <button md-ink-ripple class="md-btn md-raised m-b btn-fw blue">Valide</button>
                  <a href="/doafrica/suspendre/{{ projet.id }}"><button md-ink-ripple class="md-btn md-raised m-b btn-fw red">Suspendre</button></a>
              {% else %}
               <button md-ink-ripple class="md-btn md-raised m-b btn-fw red">Suspendue</button>
                 <a href="/doafrica/valider/{{ projet.id }}"> <button md-ink-ripple class="md-btn md-raised m-b btn-fw green">Valider!</button></a>
              {% endif %}

          </div>
      </div>
    </div></a>
      {% endfor %}


{% endblock content %}