{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Association {% endblock title%}
{% block content%}
            

<div class="row row-sm">
  <div class="col-sm-2">
    <div class="panel panel-card">
      <div class="r-t pos-rlt img-responsive" md-ink-ripple style="background:url({{ donnee.photo.url }}) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t">
          <a href class="w-xs inline">
            <img src=" {{ donnee.photo.url }}" class="img-circle img-responsive">
          </a>
          <div class="m-b m-t-sm h2">
            <span class="">{{user.username}} </span>
          </div>
          <a class="btn btn-sm btn-success m-b p-h no-border" href="doafrica/edit_profil">Edit</a>
          <p>
            {{donnee.slug}}
          </p>
        </div>
      </div>
      <div class="list-group no-radius no-border">
        <a class="list-group-item"  >     Create an project
        </a>
        <a class="list-group-item" href="/doafrica/message" >
          <span class="pull-right badge"></span> Messages
        </a>

         <a class="list-group-item" href="/doafrica/list_projet" >
          <span class="pull-right badge"></span> Projects
        </a>
        <a class="list-group-item" href="/doafrica/association">
          <span class="pull-right badge"></span> Associations
        </a>
          <a class="list-group-item" href="/doafrica/premium">
          Premium
        </a>
        <a class="list-group-item" href="/doafrica/conlogout">
          <span class="pull-right badge"></span> Logout
        </a>

      </div>
         <div class="text-center b-b b-light">
        <a href class="inline m text-color">
          <span class="h3 block font-bold">221</span>
          <em class="text-xs">Parteners</em>
        </a>

      </div>
      
      <div class="p">
        <p>About</p>
        <p>{{ donnee.biography }}</p>
        <div class="m-v">
          <a class="text-muted" href="http://facebook.com/{{ donnee.facebook }}" target="_blank">
            <i class="fa ui-icon fa-facebook"></i>
          </a>
          <a class="text-muted" href="http://twitter.com/{{ donnee.twitter }}" target="_blank">
            <i class="fa ui-icon fa-twitter"></i>
          </a>
          <a class="text-muted" href="http://linkedin.com/{{ donnee.linkedin }}" target="_blank">
            <i class="fa ui-icon fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
 
  <div class="col-sm-7">

      <div class="row row-sm" align="center">
          <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal"  data-whatever="@mdo">New Association</button>
      </div><br/>
      {% for info in infos %}<a href="groupe/{{ info.id }}">
<div class="col-sm-8 col-sm-offset-2">
      <div class="md-list md-whiteframe-z0 bg-white m-b">
        <div class="md-list-item">
          <div class="md-list-item-left">
            <img src="{{ info.image.url }}" class="w-full">
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">{{ info.name }}</h3>
            <small class="font-thin">{{ info.description }}</small>
          </div>
        </div>
          </div>
</div></a>
{% endfor %}


      <!-- debut classe modale  message-->
    <div class="row row-sm">

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">New Association</h4>
            </div>
            <div class="modal-body">
              <form name="form" method="post" action="/doafrica/association" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                {% csrf_token %}
                {{ form.as_p }}
                <div class="modal-footer form-group">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success">create project</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
<!-- Fin classe modale message -->


            


      </div>

    </div>



          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / content -->



{% endblock content%}