{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Home {% endblock title%}
{% block content%}


            

<div class="row row-sm">
  <div class="col-sm-2">
    <div class="panel panel-card">
      <div class="r-t pos-rlt img-responsie" md-ink-ripple style="background:url({{ donnee.photo.url }}) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t">
          <a href class="w-xs inline">
            <img src="{{ donnee.photo.url }}" class="img-responsive">
          </a>
          <div class="m-b m-t-sm h2">
            <span class="">{{user.username}}</span>
          </div>
          <p>
            {{donnee.slug}}
          </p>
        </div>
      </div>
     <div class="list-group no-radius no-border">
        <a class="list-group-item">
          <span class="pull-right badge"></span> Messages
        </a>

         <a class="list-group-item">
          <span class="pull-right badge"></span> Projects
        </a>
        <a class="list-group-item">
          <span class="pull-right badge"></span> Associations
        </a>
        <a href="/doafrica/conlogout" class="list-group-item">
          <span class="pull-right badge"></span> Logout
        </a>
      </div>
      
      <div class="p">
        <p>About</p>
        <p>{{ donnee.biography }} </p>
        <div class="m-v">
          <a class="text-muted" href="http://facebook.com/{{ donnee.facebook }}">
            <i class="fa ui-icon fa-facebook"></i>
          </a>
          <a class="text-muted" href="http://twitter.com/{{ donnee.twitter }}">
            <i class="fa ui-icon fa-twitter"></i>
          </a>
          <a class="text-muted" href="http://linkedin.com/{{ donnee.linkedin }}">
            <i class="fa ui-icon fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
 <div class="col-md-8 b-l bg-white bg-auto">
      <div class="p-md bg-light lt b-b font-bold">Public profile</div>
      <form role="form" class="p-md col-md-10 col-md-offset-1" method="post" action="{% url "doafrica.views.edit_profil" %}" enctype="multipart/form-data">
       
{{ form.non_field_errors }}
            {% csrf_token %}
                <div class="col-sm-6 col-sm-offset-6">
                    <div class="md-form-group float-label">
                        {{ form.photo.errors }}
                        {{ form.photo.label_tag }}
                        {{ form.photo }}

                    </div>
                 </div>


                 <div class="col-sm-6">
                    <div class="md-form-group">
                        {{ form.country.errors }}                        
                        {{ form.country.label_tag }}
                        {{ form.country }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form-group">
                        {{ form.telephone.errors }}                        
                        {{ form.telephone.label_tag }}                        
                        {{ form.telephone }}

                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="md-form-group">
                        {{ form.address.errors }}                        
                        {{ form.address.label_tag }}                        
                        {{ form.address }}

                    </div>
                </div>
                 <div class="col-sm-12">
                    <div class="md-form-group">
                        {{ form.biography.errors }}
                        {{ form.biography.label_tag }}
                        {{ form.biography }}

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form-group">
                        {{ form.slug.errors }}                        
                        {{ form.slug.label_tag }}                        
                        {{ form.slug }}

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form-group">
                        {{ form.twitter.errors }}                        
                        {{ form.twitter.label_tag }}                        
                        {{ form.twitter }}

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form-group">
                        {{ form.facebook.errors }}                        
                        {{ form.facebook.label_tag }}                        
                        {{ form.facebook }}

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form-group">
                        {{ form.linkedin.errors }}                        
                        {{ form.linkedin.label_tag }}                        
                        {{ form.linkedin }}

                    </div>
                </div>
              
    
        
       <button type="submit" class="btn btn-success m-t">Save</button>
      </form>
    </div>
  </div>
</div>




{% endblock content%}