{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Profil {% endblock title%}
{% block content%}

            

<div class="row row-sm">
  <div class="col-sm-2">
    <div class="panel panel-card">
      <div class="r-t pos-rlt img-responsive" md-ink-ripple style="background:url({{ groupe.image.url }}) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t">
          <a href class="w-xs inline">
            <img src="{{groupe.image.url}}  " class=" img-responsive">
          </a>
          <div class="m-b m-t-sm h2">
            <span class="">{{groupe.name}}</span>
          </div>


        </div>
      </div>
      <div class="list-group no-radius no-border">
        <a class="list-group-item"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  data-whatever="@mdo">
          Post a message
        </a>
          <a class="list-group-item"  data-toggle="modal" data-target="#add"  data-whatever="@mdo">
          <span class="pull-right badge"></span> Add member
        </a>
        <a class="list-group-item" href="/doafrica/settings/{{ groupe.id }}">
          <span class="pull-right badge"></span> Settings
        </a>

        <a class="list-group-item" href="/doafrica/leave">
          <span class="pull-right badge"></span> Leave group
        </a>

      </div>
      
      <div class="p">
        <p>Description</p>
        <p>{{ groupe.description }}</p>

      </div>
    </div>
  </div>




        {%  for post in posts%}
        <div class="col-sm-6 col-sm-offset-1">
      <div class="panel panel-card">
          <div class="card-heading">
            <a href class="pull-left w-32 m-r">
              <img src="{{ post.author.url }}" class="w-full img-responsive img-circle">
            </a>
            <div class="clear">
              <a href="util/{{ post.author.id }}" class="font-bold block">{{ post.author }}</a>
              <div class="text-xxs font-thin text-muted">{{ post.publication }}</div>
            </div>
          </div>
        <div class="item">
          <img src="{{ post.image.url }}" class="w-full r-t" alt="Washed Out">
        </div>

        <div class="p">
          <h3>{{ post.titre }}</h3>
          <p>
           {{ post.message }}
          </p>
        </div>
      </div>
            </div>

        {%  endfor  %}




            








  <div class="col-sm-2 col-sm-offset-1">
    <h4 class="m-l">Members</h4>
    <ul class="list-group no-bg no-borders pull-in">
        {% for membre in membres %}
     <a href="do"> <li class="list-group-item clearfix">
        <a herf="" class="pull-left w-40 m-r">
          <img src="{{ membre.photo.url }}" alt="..." class="w-full img-resposive">
        </a>
        <div class="clear text-ellipsis">
          <div><a href="">{{ membre.username }}</a></div>
          <small class="text-muted-dk">Art director, Movie Cut</small>
        </div>
      </li></a>
        {% endfor %}

    </ul>
  </div>
</div>

 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">New Project</h4>
            </div>
            <div class="modal-body">
              <form name="form" method="post" action="/doafrica/groupe/{{ groupe.id }}" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group">
                        {{ form.titre.errors }}
                        {{ form.titre.label_tag }}
                        {{ form.titre }}
                </div>
                <div class="form-group">
                   {{ form.message.errors }}
                        {{ form.message.label_tag }}
                        {{ form.message }}
                </div>


                <div class="form-group">
                   {{ form.image.errors }}
                        {{ form.image.label_tag }}
                        {{ form.image }}
                </div>
                <div class="modal-footer form-group">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success">create project</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
<!-- Fin classe modale message -->

    <!-- debut class modal ajout de membre -->
 <div class="col-sm-7">



      <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="add">New Project</h4>
            </div>
            <div class="modal-body">
              <form name="form" method="post" action="/doafrica/groupe/{{ groupe.id }}" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group">
                   {{ res.membre.errors }}
                        {{ res.membre.label_tag }}
                        {{res.membre }}
                </div>
                <div class="modal-footer form-group">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success">Add</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>

 </div>
 <!-- Fin classe modale add mmbre -->


{% endblock content%}