{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Profil {% endblock title%}
    {% block content%}



<div class="row row-sm">
  <div class="col-sm-2">
    <div class="panel panel-card">
      <div class="r-t pos-rlt img-responsive" md-ink-ripple style="background:url({{ donnee.photo.url }}) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t">
          <a href class="w-xs inline">
            <img src="{{donnee.photo.url}}  " class="img-responsive">
          </a>
          <div class="m-b m-t-sm h2">
            <span class="">{{user.username}}</span>
          </div>
          <a class="btn btn-sm btn-success m-b p-h no-border" href="/doafrica/edit_profil">Edit</a>
          <p>
            {{donnee.slug}}
          </p>
        </div>
      </div>
      <div class="list-group no-radius no-border">

        <a class="list-group-item" href="/doafrica/message" >
          <span class="pull-right badge"></span> Messages
        </a>

         <a class="list-group-item" href="/doafrica/list_projet" >
          <span class="pull-right badge"></span> Projects
        </a>

        <a class="list-group-item" href="/doafrica/conlogout">
          <span class="pull-right badge"></span> Logout
        </a>

      </div>
         <div class="text-center b-b b-light">
        <a href class="inline m text-color">
          <span class="h3 block font-bold">221</span>
          <em class="text-xs">Parteners</em>
        </a>

      </div>

      <div class="p">
        <p>About</p>
        <p>{{ donnee.biography }}</p>
        <div class="m-v">
          <a class="text-muted" href="http://facebook.com/{{ donnee.facebook }}" target="_blank">
            <i class="fa ui-icon fa-facebook"></i>
          </a>
          <a class="text-muted" href="http://twitter.com/{{ donnee.twitter }}" target="_blank">
            <i class="fa ui-icon fa-twitter"></i>
          </a>
          <a class="text-muted" href="{{ donnee.linkedin }}" target="_blank">
            <i class="fa ui-icon fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

 <div class="col-sm-5">
      {% for message in messages %}
          {% if message.author.id == 1 %}
              <div class="col-sm-10">

      <div class="panel panel-card">


        <div class="item"><a href="projet/{{ message.id }}">
          <img src="{{ message.image.url }}" class="w-full r-t" alt="Washed Out"></a>
          <div class="bottom text-white p">

          </div>
        </div></a>

          <a href="projet/{{ message.id }}">
        <div class="p">
          <h3>{{ message.titre }}</h3>
          <p>
            {{ message.message }}
          </p>
        </div></a>
      </div>
    </div>
          {% else %}
   <div class="col-sm-10">

      <div class="panel panel-card">

           <div class="card-heading">
            <a href class="pull-left w-32 m-r">
              <img src="{{ message.image.url }}" class="w-full img-responsive img-circle">
            </a>
            <div class="clear">
              <a href="util/{{ message.author.id }}" class="font-bold block">{{ message.author }}</a>
              <div class="text-xxs font-thin text-muted">{{ message.date_de_pub }}</div>
            </div>
          </div><a href="projet/{{ message.id }}">
          <div class="card-tools">
              <ul class="list-inline">
                <li class="dropdown">
                  <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                    <i class="mdi-navigation-more-vert text-md"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                    <li><a href>Like</a></li>
                    <li><a href>Donate</a></li>
                      <li><a href="">Invest</a></li>
                      {% if message.author == request.user %}
                      <li><a href="/doafrica/delete/{{ message.id }}">Delete</a></li>
                      {% endif %}
                  </ul>
                </li>
              </ul>
            </div>
        <div class="item"><a href="projet/{{ message.id }}">
          <img src="{{ message.image.url }}" class="w-full r-t" alt="Washed Out"></a>
          <div class="bottom text-white p">

          </div>
        </div></a>
        <a md-ink-ripple class="md-btn md-raised md-fab brown m-r md-fab-offset pull-right"><span class="text-white">$ {{ message.montant }}</span></a>
          <a href="projet/{{ message.id }}">
        <div class="p">
          <h3>{{ message.titre }}</h3>
          <p>
            {{ message.message }}
          </p>
        </div></a>
      </div>
    </div>
          {% endif %}
      {% endfor %}



    <div class="row row-sm">

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">New Project</h4>
            </div>
            <div class="modal-body">
              <form name="form" method="post" action="{% url "doafrica.views.profil" %}" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group">
                        {{ form.titre.errors }}
                        {{ form.titre.label_tag }}
                        {{ form.titre }}
                </div>
                <div class="form-group">
                   {{ form.message.errors }}
                        {{ form.message.label_tag }}
                        {{ form.message }}
                </div>
                <div class="form-group">
                   {{ form.montant.errors }}
                        {{ form.montant.label_tag }}
                        {{ form.montant }}
                </div>
                <div class="form-group">
                   {{ form.categorie.errors }}
                        {{ form.categorie.label_tag }}
                        {{ form.categorie }}
                </div>
                <div class="form-group">
                   {{ form.image.errors }}
                        {{ form.image.label_tag }}
                        {{ form.image }}
                </div>
                <div class="modal-footer form-group">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success">create project</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
<!-- Fin classe modale message -->





      </div>

    </div>
{%  for locale in locales %}
<div class="col-sm-3">
       <div class="panel panel-card">
        <div class="item">
          <img src="{{ locale.photo.url }}" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">

          </div>
        </div>

        <div class="p">
          <h3>{{ locale.titre }}</h3>
          <p>
            {{ locale.texte }}
          </p>
        </div>
      </div>
</div>
{% endfor %}


</div>
<div class="modal fade" id="user" data-backdrop="false">
    <div class="right w-xl bg-white md-whiteframe-z2">
        <div class="box">
    <div class="p p-h-md">
      <a data-dismiss="modal" class="pull-right text-muted-lt text-2x m-t-n inline p-sm">&times;</a>
      <strong>Members</strong>
    </div>
    <div class="box-row">
      <div class="box-cell">
        <div class="box-inner">

          <div class="list-group no-radius no-borders">
              {% for membre in membres %}
            <a data-toggle="modal" data-target="#chat" data-dismiss="modal"  class="list-group-item p-h-md">
              <!-- <img src="images/a1.jpg" class="pull-left w-40 m-r img-circle"> -->
              <div class="clear">
                <span class="font-bold block">{{ membre.de }}</span>
                <span class="clear text-ellipsis text-xs">"Hey, What's up"</span>
              </div>
            </a>
              {% endfor %}

          </div>
        </div>
      </div>
    </div>

  </div>

    </div>
  </div>

  <div class="modal fade" id="chat" data-backdrop="false">
    <div class="right w-xxl bg-white md-whiteframe-z2">
        <div class="box">
    <div class="p p-h-md">
      <a data-dismiss="modal" class="pull-right text-muted-lt text-2x m-t-n inline p-sm">&times;</a>
      <strong>Chat</strong>
    </div>
    <div class="box-row bg-light lt">
      <div class="box-cell">
        <div class="box-inner">
          <div class="p-md">
            <div class="m-b">
              <a href class="pull-left w-40 m-r-sm"><img src="images/a2.jpg" alt="..." class="w-full img-circle"></a>
              <div class="clear">
                <div class="p p-v-sm bg-warning inline r">
                  Hi John, What's up...
                </div>
                <div class="text-muted-lt text-xs m-t-xs"><i class="fa fa-ok text-success"></i> 2 minutes ago</div>
              </div>
            </div>
            <div class="m-b">
              <a href class="pull-right w-40 m-l-sm"><img src="images/a3.jpg" class="w-full img-circle" alt="..."></a>
              <div class="clear text-right">
                <div class="p p-v-sm bg-info inline text-left r">
                  Lorem ipsum dolor soe rooke..
                </div>
                <div class="text-muted-lt text-xs m-t-xs">1 minutes ago</div>
              </div>
            </div>
            <div class="m-b">
              <a href class="pull-left w-40 m-r-sm"><img src="images/a2.jpg" alt="..." class="w-full img-circle"></a>
              <div class="clear">
                <div class="p p-v-sm bg-warning inline r">
                  Good!
                </div>
                <div class="text-muted-lt text-xs m-t-xs"><i class="fa fa-ok text-success"></i> 5 seconds ago</div>
              </div>
            </div>
            <div class="m-b">
              <a href class="pull-right w-40 m-l-sm"><img src="images/a3.jpg" class="w-full img-circle" alt="..."></a>
              <div class="clear text-right">
                <div class="p p-v-sm bg-info inline text-left r">
                  Dlor soe isep..
                </div>
                <div class="text-muted-lt text-xs m-t-xs">Just now</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-h-md p-v">
      <a class="pull-left w-32 m-r"><img src="{{ donnee.photo.url }}" class="w-full img-responsive" alt="..."></a>
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Say something">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">SEND</button>
          </span>
        </div>
      </form>
    </div>
  </div>




          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / content -->



{% endblock content%}