{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Profil {% endblock title%}
{% block content%}


<div class="row row-sm">
  <div class="col-sm-2">
    <div class="panel panel-card">
      <div class="r-t pos-rlt img-responsive" md-ink-ripple style="background:url({{ donnee.photo.url }}) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t">
          <a href class="w-xs inline">
            <img src="{{donnee.photo.url}}  " class="img-responsive">
          </a>
          <div class="m-b m-t-sm h2">
            <span class="">{{user.username}}</span>
          </div>
          <a class="btn btn-sm btn-success m-b p-h no-border" href="/doafrica/edit_profil">Edit</a>
          <p>
            {{donnee.slug}}
          </p>
        </div>
      </div>
      <div class="list-group no-radius no-border">
        <a class="list-group-item"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  data-whatever="@mdo">
          Create an post
        </a>
        <a class="list-group-item" href="/doafrica/message" >
          <span class="pull-right badge">12</span> Messages
        </a>
         <a class="list-group-item" href="/doafrica/notification">
          <span class="pull-right badge">12</span> Notifications
        </a>
         <a class="list-group-item" href="/doafrica/listfollow" >
          <span class="pull-right badge">12</span> Projects
        </a>

        <a class="list-group-item" href="/doafrica/conlogout">
          <span class="pull-right badge"></span> Logout
        </a>

      </div>
         <div class="text-center b-b b-light">
        <a href class="inline m text-color">
          <span class="h3 block font-bold">221</span>
          <em class="text-xs">Parteners</em>
        </a>
        <a href class="inline m text-color">
          <span class="h3 block font-bold">250</span>
          <em class="text-xs">Following</em>
        </a>
      </div>

      <div class="p">
        <p>About</p>
        <p>{{ donnee.biography }}</p>
        <div class="m-v">
          <a class="text-muted" href="http://facebook.com/{{ donnee.facebook }}" target="_blank">
            <i class="fa ui-icon fa-facebook"></i>
          </a>
          <a class="text-muted" href="http://twitter.com/{{ donnee.twitter }}" target="_blank">
            <i class="fa ui-icon fa-twitter"></i>
          </a>
          <a class="text-muted" href="{{ donnee.linkedin }}" target="_blank">
            <i class="fa ui-icon fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-7">
      {% for message in messages %}
   <div class="col-sm-8">
      <div class="panel panel-card">
          <div class="card-heading">
            <a href class="pull-left w-32 m-r">
              <img src="{{ message.image.url }}" class="w-full img-responsive img-circle">
            </a>
            <div class="clear">
              <a href="util/{{ message.author.id }}" class="font-bold block">{{ message.author }}</a>
              <div class="text-xxs font-thin text-muted">{{ message.date_de_pub }}</div>
            </div>
              <div class="card-tools">
              <ul class="list-inline">
                <li class="dropdown">
                  <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                    <i class="mdi-navigation-more-vert text-md"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                    <li><a href="/doafrica/unfollow/{{ message.id }}">UnFollow</a></li>


                      {% if message.author == request.user %}
                      <li><a href="/doafrica/delete/{{ message.id }}">Delete</a></li>
                      {% endif %}
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        <div class="item">
          <img src="{{ message.image.url }}" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">

          </div>
        </div>
        <a md-ink-ripple class="md-btn md-raised md-fab brown m-r md-fab-offset pull-right"><span class="text-white">{{ message.montant }}</span></a>
        <div class="p">
          <h3>{{ message.titre }}</h3>
          <p>
            {{ message.message }}
          </p>
        </div>
      </div>
    </div>
      {% endfor %}
    <div class="row row-sm">

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">New Project</h4>
            </div>
            <div class="modal-body">
              <form name="form" method="post" action="{% url "doafrica.views.profil" %}" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group">
                        {{ form.titre.errors }}
                        {{ form.titre.label_tag }}
                        {{ form.titre }}
                </div>
                <div class="form-group">
                   {{ form.message.errors }}
                        {{ form.message.label_tag }}
                        {{ form.message }}
                </div>
                <div class="form-group">
                   {{ form.montant.errors }}
                        {{ form.montant.label_tag }}
                        {{ form.montant }}
                </div>
                <div class="form-group">
                   {{ form.categorie.errors }}
                        {{ form.categorie.label_tag }}
                        {{ form.categorie }}
                </div>
                <div class="form-group">
                   {{ form.image.errors }}
                        {{ form.image.label_tag }}
                        {{ form.image }}
                </div>
                <div class="modal-footer form-group">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success">create project</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
<!-- Fin classe modale message -->





      </div>

    </div>



          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / content -->



{% endblock content%}