{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Home {% endblock title%}
{% block content%}
{% for notif in notifs  %}
    <div class="row">
    <div class="col-sm-3">
   <a href="/doafrica/note/{{ notif.id }}"> <div class="md-list md-whiteframe-z0 bg-white m-b">



        <div class="md-list-item">
          <div class="md-list-item-left">

          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">{{ notif.de}}</h3>
            <small class="font-thin">{{ notif.text  }}</small>
          </div>
        </div>



    </div></a></div></div>
{% endfor %}



{% endblock content%}