{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Home {% endblock title%}
{% block content%}

            


  <div class="col-sm-10 col-sm-offset-3">
    <div class="col-sm-3">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/c1.jpg" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">
            
          </div>
        </div>
        
        <div class="p" align="justify">
          <h3>Premium</h3>
          <p>
            If you are a contractor or an aspiring to entrepreneurship alive in Africa who  is in search for funding to start a project or a company; or a person wishing to invest in Africa, or a cabinet with solid experience in the follow-up and accompaniment of contractors; then diasporainvest is the portal that you need. Register today to start by transform your dream into a reality.

			<p>Diasporainvest, when dreams come true</p>
          </p>
          <br/>
          <a href="/doafrica/suscribe"><button md-ink-ripple  class="md-btn md-raised green btn-block p-h-md">Suscribe</button></a>
        </div>
      </div>
    </div>
     <div class="col-sm-3">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/c1.jpg" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">
            
          </div>
        </div>
        
        <div class="p" align="justify">
          <h3>Premium Plus</h3>
          <p>
           Closefinance is a secure framework of exchange based on the philosophy according to which the good things are never far away. It has for vocation to enable persons who residents in Africa to inter fund thanks to the technology of the mobile money. If you are a contractor, an aspiring to entrepreneurship, a person wishing to invest or a firm wishing to accompany the various actors. You can register on this platform to live a unique experience.

			<p>Closefinance, things get change  </p>
          </p>
           <a href="/doafrica/suscribes"><button md-ink-ripple  class="md-btn md-raised green btn-block p-h-md">Suscribe</button></a>
        </div>
      </div>
    </div>
    </div>


    </div>

 	</div>
</div>
</div>
{% endblock content%}