{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Home {% endblock title%}
{% block content%}
<div class="col-sm-2">
<div class="list-group list-group-gap">
        <a  md-ink-ripple class="list-group-item md-whiteframe-z0 btn btn-fw "  data-toggle="modal" data-target="#exampleModal"  data-whatever="@mdo">
          Compose
        </a>
        <a href="/doafrica/inbox" class="list-group-item md-whiteframe-z0 btn btn-fw">
          Inbox
        </a>
        <a href="/doafrica/sent" class="list-group-item md-whiteframe-z0 btn btn-fw">
          Sent
        </a>
        <a href="/doafrica/message" class="list-group-item md-whiteframe-z0 btn btn-fw">
          All
        </a>
        <a href="/doafrica/draft" class="list-group-item md-whiteframe-z0 btn btn-fw  ">
          Draft
        </a>
      </div>
</div>





    <!-- class modal pour envoie de message -->
    <div class="row row-sm">

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">New Project</h4>
            </div>
            <div class="modal-body">
              <form name="form" method="post" action="{% url "doafrica.views.message" %}" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group">
                        {{ form.receiver.errors }}
                        {{ form.receiver.label_tag }}
                        {{ form.receiver }}
                </div>
                <div class="form-group">
                   {{ form.object.errors }}
                        {{ form.object.label_tag }}
                        {{ form.object }}
                </div>
                <div class="form-group">
                   {{ form.texte.errors }}
                        {{ form.texte.label_tag }}
                        {{ form.texte }}
                </div>


                <div class="modal-footer form-group">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success">create project</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
        <!-- fin de la class modale de composition d'un message-->
    <div class="col-sm-3    ">
<a href class="md-btn md-fab md-fab-bottom-right pos-fix red" data-toggle="modal" data-target="#exampleModal"  data-whatever="@mdo"><i class="mdi-content-add i-24"></i></a>

{% for message in messages %}
   <a href="/doafrica/reponse/{{ message.id }}"> <div class="md-list md-whiteframe-z0  m-b">



        <div class="md-list-item">
          <div class="md-list-item-left">
            <img src="images/a0.jpg" class="w-full circle">
          </div>
          <div class="md-list-item-content">
              <small class="font-thin">     </small>
            <h3 class="text-md">{{ message.sender }}</h3>
            <small class="font-thin">{{ message.object}}</small>
          </div>
        </div>



    </div></a>
{% endfor %}



</div>
    <div class="col-sm-6">
        <div class="panel panel-card">
            <div class="card-heading">
            <a href class="pull-left w-32 m-r">
              <img src="{{ profil.photo.url }}" class="w-full img-circle">
            </a>
            <div class="clear">
              <a href class="font-bold block">{{ resp.sender }}</a>
              <div class="text-xxs font-thin text-muted">{{ resp.sendtime }}</div>
            </div>
          </div>
            <div class=" col-sm-11 col-sm-offset-1 text-xxs font-thin text-muted"><h5>{{ resp.texte }}</h5></div>








      <form action="/doafrica/reponse/{{ resp.id }}" method="post">
          <hr/>
          {{ form.non_field_errors }}
                {% csrf_token %}
        {{ form }}
        <div class="lt p">
          <button class="btn btn-success pull-right btn-sm p-h font-bold" type="submit">Send</button>
          <ul class="nav nav-pills nav-sm">
            <li><a href><i class="fa fa-camera"></i></a></li>

          </ul>
        </div>
      </form>

    </div>
    </div>

{% endblock content%}