{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Valid user {% endblock title%}
    {% block content%}
<div>
<a href="/doafrica/admin"><button class="success">Back to menu</button></a>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      User List
    </div>

    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th data-toggle="true">
                  Username
              </th>
              <th>
                  Email
              </th>
              <th data-hide="phone,tablet">
                  Compte
              </th>
              <th data-hide="phone,tablet" data-name="Date Of Birth">
                  Profil
              </th>
              <th data-hide="phone">
                  Document
              </th>
          </tr>
        </thead>
        <tbody>

        {% for profil in profils %}
            <tr>
              <td>{{ profil.username }}</td>
              <td><a ></a>{{ profil.email }}</td>
              <td>{{ profil.account }}</td>
              <td data-value="78025368997"><a href="/doafrica/voir/{{ profil.id }}" class="label bg-success" title="Active">View</a></td>
              <td data-value="1"><a href="/doafrica/active/{{ profil.id }}" class="label bg-success" title="Active">Active</a></td>
          </tr>
        {% endfor %}
        </tbody>
      <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
        </table>
        </div>
        </div>
{% endblock %}
